In [1]:
import pandas as pd
import numpy as np

In [2]:
auditorias_df = pd.read_csv('Auditorias.csv', encoding='iso-8859-1')
auditorias_df.head()

,RAMO,ID_UR,EJERCICIO,TRIMESTRE,INSTITUCION,AUDITORÍAS_REALIZADAS,OBSERVACIONES_DETERMINADAS
0,2,0,2002,20020401/20020630,PRESIDENCIA DE LA REPÚBLICA,5,14
1,2,0,2002,20020101/20020331,PRESIDENCIA DE LA REPÚBLICA,3,22
2,2,0,2002,20020701/20020930,PRESIDENCIA DE LA REPÚBLICA,7,8
3,2,0,2002,20021001/20021231,PRESIDENCIA DE LA REPÚBLICA,1,2
4,4,I00,2002,20020101/20020331,Centro de Investigación Científica y de Educac...,3,3

In [3]:
auditorias_df_ext = auditorias_df[['RAMO', 'EJERCICIO', 'AUDITORÍAS_REALIZADAS', 'OBSERVACIONES_DETERMINADAS']].copy()
auditorias_df_ext.head()

   RAMO  EJERCICIO  AUDITORÍAS_REALIZADAS  OBSERVACIONES_DETERMINADAS
0     2       2002                      5                          14
1     2       2002                      3                          22
2     2       2002                      7                           8
3     2       2002                      1                           2
4     4       2002                      3                           3

In [4]:
auditorias_sanciones = auditorias_df_ext.groupby(['RAMO', 'EJERCICIO']).sum()
auditorias_sanciones = auditorias_sanciones.rename(columns={'AUDITORÍAS_REALIZADAS':'AUDITORIAS', 'OBSERVACIONES_DETERMINADAS':'SANCIONES'})
auditorias_sanciones['aud_san_ratio'] = auditorias_sanciones['AUDITORIAS'] / auditorias_sanciones['SANCIONES']
auditorias_sanciones = auditorias_sanciones.rename(columns={'RAMO':'ramo', 'EJERCICIO':'ejercicio','AUDITORIAS':'auditorias', 'SANCIONES':'sanciones'})
auditorias_sanciones

                auditorias  sanciones  aud_san_ratio
RAMO EJERCICIO
2    2002               16         46       0.347826
     2003               18         48       0.375000
     2004               12         41       0.292683
     2005               10         30       0.333333
     2006                6         20       0.300000
     2007               13         54       0.240741
     2008               10         25       0.400000
     2009                8         21       0.380952
     2010                9         16       0.562500
     2011                8         24       0.333333
     2012                3          4       0.750000
     2013                6          8       0.750000
     2014                6         18       0.333333
     2015                6         26       0.230769
     2016                6         27       0.222222
     2017                6          3       2.000000
     2018                4          2       2.000000
4    2002              170        491       0.346232
     2003              134        348       0.385057
     2004              151        427       0.353630
     2005              143        373       0.383378
     2006              126        246       0.512195
     2007              162        303       0.534653
     2008              146        293       0.498294
     2009              137        372       0.368280
     2010              136        319       0.426332
     2011              122        384       0.317708
     2012               67        181       0.370166
     2013              140        495       0.282828
     2014              144        351       0.410256
...                    ...        ...            ...
47   2006               21         27       0.777778
     2007               31         58       0.534483
     2008               25         57       0.438596
     2009               26         37       0.702703
     2010               29         68       0.426471
     2011               24         48       0.500000
     2012               12         35       0.342857
     2013               30        151       0.198675
     2014               32        152       0.210526
     2015               29        139       0.208633
     2016               52        227       0.229075
     2017               60        249       0.240964
     2018               24         86       0.279070
48   2002               31        351       0.088319
     2003               29        438       0.066210
     2004               40        286       0.139860
     2005               85        328       0.259146
     2006               85        304       0.279605
     2007              101        402       0.251244
     2008               72        339       0.212389
     2009               39        145       0.268966
     2010               54        117       0.461538
     2011               49        173       0.283237
     2012               25         91       0.274725
     2013               28        129       0.217054
     2014               52        178       0.292135
     2015               45        205       0.219512
     2016               28        152       0.184211
     2017               28        144       0.194444
     2018               14         43       0.325581

[374 rows x 3 columns]

In [5]:
auditorias_sanciones = auditorias_sanciones.reset_index()
auditorias_sanciones.dtypes

RAMO               int64
EJERCICIO          int64
auditorias         int64
sanciones          int64
aud_san_ratio    float64
dtype: object

In [6]:
auditorias_sanciones

     RAMO  EJERCICIO  auditorias  sanciones  aud_san_ratio
0       2       2002          16         46       0.347826
1       2       2003          18         48       0.375000
2       2       2004          12         41       0.292683
3       2       2005          10         30       0.333333
4       2       2006           6         20       0.300000
5       2       2007          13         54       0.240741
6       2       2008          10         25       0.400000
7       2       2009           8         21       0.380952
8       2       2010           9         16       0.562500
9       2       2011           8         24       0.333333
10      2       2012           3          4       0.750000
11      2       2013           6          8       0.750000
12      2       2014           6         18       0.333333
13      2       2015           6         26       0.230769
14      2       2016           6         27       0.222222
15      2       2017           6          3       2.000000
16      2       2018           4          2       2.000000
17      4       2002         170        491       0.346232
18      4       2003         134        348       0.385057
19      4       2004         151        427       0.353630
20      4       2005         143        373       0.383378
21      4       2006         126        246       0.512195
22      4       2007         162        303       0.534653
23      4       2008         146        293       0.498294
24      4       2009         137        372       0.368280
25      4       2010         136        319       0.426332
26      4       2011         122        384       0.317708
27      4       2012          67        181       0.370166
28      4       2013         140        495       0.282828
29      4       2014         144        351       0.410256
..    ...        ...         ...        ...            ...
344    47       2006          21         27       0.777778
345    47       2007          31         58       0.534483
346    47       2008          25         57       0.438596
347    47       2009          26         37       0.702703
348    47       2010          29         68       0.426471
349    47       2011          24         48       0.500000
350    47       2012          12         35       0.342857
351    47       2013          30        151       0.198675
352    47       2014          32        152       0.210526
353    47       2015          29        139       0.208633
354    47       2016          52        227       0.229075
355    47       2017          60        249       0.240964
356    47       2018          24         86       0.279070
357    48       2002          31        351       0.088319
358    48       2003          29        438       0.066210
359    48       2004          40        286       0.139860
360    48       2005          85        328       0.259146
361    48       2006          85        304       0.279605
362    48       2007         101        402       0.251244
363    48       2008          72        339       0.212389
364    48       2009          39        145       0.268966
365    48       2010          54        117       0.461538
366    48       2011          49        173       0.283237
367    48       2012          25         91       0.274725
368    48       2013          28        129       0.217054
369    48       2014          52        178       0.292135
370    48       2015          45        205       0.219512
371    48       2016          28        152       0.184211
372    48       2017          28        144       0.194444
373    48       2018          14         43       0.325581

[374 rows x 5 columns]